<div class="sidebar">
  <ul>
    <li><a href="/adminpanel/users">Manage Users</a></li>
    <li><a href="/adminpanel/categories">Manage Categories</a></li>
    <li><a href="/adminpanel/products">Manage Products</a></li>
  </ul>
</div>
