<%- include('../layouts/header', { title: 'Thank You' }) %>

<!-- Thank You Section -->
<section class="thank-you">
  <div class="container">
    <h1>Thank You, <%= name %>!</h1>
    <p>Your order has been successfully placed. We will send a confirmation email to you shortly.</p>
    <p><a href="/">Return to Home</a></p>
  </div>
</section>

<%- include('../layouts/footer') %>
